@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./shadcn.css";

@layer utilities {
  .no-spinner {
    appearance: textfield;
  }
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    appearance: none;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
